body, header{
	margin: 40px;
}

.container1{
	background-color: #F9F9F9;
	margin-top: 60px;
	padding: 5px;
}
.img-perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.presentation{
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 50px;
	color: #E59821;
}

.container2{
  	display: grid;
  	grid-template-columns: 50% 50% 50% 50%;
  	margin-top: 5px;
}
.col-sm-4.col-md-8{
	background-color: #F9F9F9;
	padding-top: 2px;
	font-size: 30px;
}
.container2 h1{
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: orange;
}
.container2 p{
	text-align: justify;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}
.Contacto{
	float: auto;
	margin-left: 5px;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: orange;
}
.container2 li{
	margin-left: 10px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	padding-left: 40px;
	margin-left: 50px;
}


.container3{
  	display: grid;
  	grid-template-columns: 50% 50% 50% 50%;
  	margin-top: 5px;
}
.container3 h1{
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: orange;
}
.year{
	margin-left: 10px;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}
.titulo{
	padding: auto;
	margin-left: 10px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	background-color: #FCFFB2;
	border: 2px solid white;	
    border-radius: 5px;
}
.year2{
	margin-left: 10px;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}
.titulo2{
	padding: auto;
	margin-left: 10px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	background-color: #FCFFB2;
	border: 2px solid white;	
    border-radius: 5px;
}
.skills{
	margin-left: 10px;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: orange;
	padding-left: auto;
	box-sizing: border-box;
}
.container3 li{
	margin-left: 60px;
	padding-left: 8px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	list-style: none;
}
.container3 .ps{
	background-color: orange;
	width: 300px;
	border: 2px solid white;	
    border-radius: 5px;
}
.container3 .ai{
	background-color: orange;
	width: 270px;
	border: 2px solid white;	
    border-radius: 5px;
}
.container3 .muse{
	background-color: orange;
	width: 240px;
	border: 2px solid white;	
    border-radius: 5px;
}
.container3 .html{
	background-color: orange;
	width: 210px;
	border: 2px solid white;	
    border-radius: 5px;
}
.container3 .css{
	background-color: orange;
	width: 180px;
	border: 2px solid white;	
    border-radius: 5px;
}
.container3 .js{
	background-color: orange;
	width: 150px;
	border: 2px solid white;	
    border-radius: 5px;
}


.container4{
  	display: grid;
  	grid-template-columns: 50% 50% 50% 50%;
  	margin-top: 5px;
}
.container4 h1{
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: orange;
}
.empresa{
	margin-left: 10px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}
.cargo{
	margin-left: 10px;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	text-align: justify;
}
.clearfix{
	overflow: auto;
}
.idiomas{
	margin-left: 10px;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: orange;
	padding-left: 35px;
	box-sizing: border-box;
}
.ingles{
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	padding-left: 50px;
}
.español{
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	padding-left: 40px;
}
.fa-star{
    position: relative;
    left: 200px;
    margin-right: 12px;	
    color: #FFB365;
}
.hobbies{
	margin-left: 10px;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	color: orange;
	padding-left: 35px;
	box-sizing: border-box;
}
.foto{
	background-color: #FFB365;
	width: 100px;	
    border-radius: 5px;
    margin-left: 60px;
	padding-left: 8px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}
.coleccion{
	background-color: #FFB365;
	width: 350px;	
    border-radius: 5px;
    margin-left: 60px;
	padding-left: 8px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}
.game{
	background-color: #FFB365;
	width: 100px;	
    border-radius: 5px;
    margin-left: 60px;
	padding-left: 8px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}
.footer{
	color: #FFB365;
	text-align: right;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}